<section class="contenedor">
    <section>
        <input type="checkbox" [(ngModel)]="check" id="check">
    </section>
    <section *ngIf="check==true; else unChecked">
        <img width="400px"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
            alt="">
        <section>
            <p>
                Angular (comúnmente llamado Angular 2+ o Angular 2) es un framework para aplicaciones web desarrollado
                en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener
                aplicaciones web de una sola página. Su objetivo es aumentar las aplicaciones basadas en navegador con
                capacidad de Modelo Vista Controlador (MVC), en un esfuerzo para hacer que el desarrollo y las pruebas
                sean más fáciles.
            </p>
        </section>
    </section>
    <section>
        <ng-template #unChecked>
            <label for="check">Activa el check para mostrar contenido</label>
        </ng-template>
    </section>

</section>