<section>
    <section class="row row-cols-2">
        <section class="col">
            <div >
                <label for="nombres">Nombres</label>
                <input class="form-control" type="text" name="nombres" #nombres>
                <br>
                <label for="">Apellidos</label>
                <input class="form-control" type="text" name="apellidos" #apellidos>
                <br>
                <label for="">Edad</label>
                <input class="form-control" type="number" name="edad" #edad>
                <br>
                <button class="btn btn-warning" (click)="agregar(nombres.value, apellidos.value, edad.value)">Agregar</button>
            </div>
        </section>
        <section class="col">
            <table class="table">
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th></th>
                </tr>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.name}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.mayor}}</td>
                        <!-- <td>{{user.edad>=18:'es mayor'?'sdf'}}</td> -->
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</section>